@model Codell.Pies.Web.Models.IngredientModel
<div id='@Model.Id'>
    <div class="row">@Model.Description</div>
    <div id="percent" data-bind="slider: percent, sliderOptions: {min: 0, max: 100, step: 5, value: @Model.Percent}"></div>
    @*@Html.TextBoxFor(m => m.Percent) @Html.TextBoxFor(m => m.Description) <span id="message"></span>    *@
</div>
<script type="text/javascript">
    ko.applyBindings(new pies.ingredient.ViewModel('@Model.Id', '@Model.PieId', '@Url.Action("UpdateIngredientPercentage")'), $('#@Model.Id')[0]);
@*  $.mhub.create(pies.messages.percentRejected('@Model.Id'));
    $.mhub.subscribe(pies.messages.percentRejected('@Model.Id'), function (data) {
        var scope = $('#@Model.Id');
        $('#message', scope).text(data.message);
        $('#Percent', scope).val(data.currentPercent);
    });*@
</script>