@model Codell.Pies.Web.Models.CreatePieModel
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var pie = new pies.cr8.Pie('@Model.Id', '@Url.Action("UpdatePieCaption")',
                                       { add: '@Url.Action("AddIngredient")', updatePercentage: '@Url.Action("UpdateIngredientPercentage")', delete: '@Url.Action("DeleteIngredient")' });
            ko.applyBindings(pie, $('#create')[0]);
        });
    </script>
}
<div id="create">
    <div class="kitchen">
        <table class="kitchen-top">
            <tr>
                <td class="data-label">Caption</td>
                <td><input class="caption" type="text" data-bind="blur: caption"/></td>
            </tr>
            <tr>
                <td class="data-label">Ingredient</td>
                <td>
                    <input class="ingredient" type="text" data-bind="value: ingredientToAdd, onEnter: addIngredient"/>
                    <a href="#" title="Add" data-bind="click: addIngredient">
                        Add
                        <!--<img src="~/Content/Styles/Images/add.png" alt="Add Ingredient" class="add"/>-->
                    </a>                        
                </td>
            </tr>
        </table>                  
        <div class="ingredients" data-bind="template: { name: 'ingredient-template', foreach: editableIngredients }"></div>                      
    </div>
    <div class="preview" id="chart" data-bind="pieChart: allIngredients, pieChartTitle: caption, pieOptions: { dataMap: { text: 'description', value: 'percent' } }"></div>
    <script type="text/html" id="ingredient-template">
        <table class="ingredient-container" data-bind="color: color">
            <tr>
                <td class="data-label"></td>
                <td>
                    <div class="ingredient-desc" data-bind="text: description"></div>
                    <a href="#" title="Remove" data-bind="click: remove">Remove</a>
                    <input data-bind="colorPicker: color"/>
                </td>
            </tr>    
            <tr>
                <td></td>
                <td>
                    <div class="ingredient-slider" id="percent" data-bind="slider: percent, sliderOptions: { min: 0, max: 100, step: 5, value: $data.percent() },
                                                                           sliderColor: color, colorOptions: { backgroundAdjust: 75, borderAdjust: 0 }"></div>
                    <div class="ingredient-percent" data-bind="text: formattedPercent"></div>
                </td>
            </tr> 
            <tr>
                <td></td>
                <td>
                    <div class="important message" data-bind="text: message"></div>
                </td>
            </tr>      
         </table>
    </script>
</div>


