@using Codell.Pies.Web.Extensions
@model Codell.Pies.Web.Models.PieModel
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var $scope = $('#create');
            $('#add', $scope).button({icons: {primary: "ui-icon-plus"}, text: false});
            var pie = new pies.cr8.Pie(@Html.Raw(Model.ToJson()), 
                                       { updateCaption : '@Url.Action("UpdateCaption")',
                                         updateTags : '@Url.Action("UpdateTags")'},
                                       { add: '@Url.Action("AddIngredient")', 
                                         updatePercentage: '@Url.Action("UpdateIngredientPercentage")', 
                                         updateDescription: '@Url.Action("UpdateIngredientDescription")', 
                                         updateColor: '@Url.Action("UpdateIngredientColor")', 
                                         delete: '@Url.Action("DeleteIngredient")' });
            ko.applyBindings(pie, $scope[0]);
        });
    </script>
}
<div id="create">
    <div class="kitchen">
        <table class="kitchen-top">
            <tr>
                <td class="label">Caption</td>
                <td class="ingredient"><input class="caption" type="text" data-bind="blur: caption"/></td>
                <td></td>
            </tr>
            <tr>
                <td class="label">Ingredient</td>
                <td>
                    <input class="ingredient" type="text" data-bind="value: ingredientToAdd, onEnter: addIngredient"/>                         
                </td>
                <td>
                    <a href="#" id="add" data-bind="click: addIngredient">Add</a>                  
                </td>
            </tr>
            <tr>
                <td>Tags</td>
                <td><input class="tags" type="text" data-bind="blur: tags"/></td>
                <td></td>
            </tr>
        </table>                  
        <div class="ingredients" data-bind="template: { name: 'ingredient-template', 
                                                        foreach: editableIngredients,
                                                        afterRender: function(el) {
                                                            $('#remove', $(el)).button({ icons: { primary: 'ui-icon-minus' }, text: false });
                                                        } }">            
        </div>                      
    </div>
    <div class="preview" >
        <div class ="pie-preview" id="chart" data-bind="pieChart: allIngredients, pieChartTitle: caption, pieOptions: { dataMap: { text: 'description', value: 'percent', color: 'color' } }"></div>
        <div class="share-pie">
            <img src="@Url.Content("~/content/styles/images/facebook_24_24.png")" alt="Facebook"/>
            <img src="@Url.Content("~/content/styles/images/twitter_24_24.png")" alt="Facebook"/>
            <img src="@Url.Content("~/content/styles/images/linkedin_24_24.png")" alt="Facebook"/>
            <img src="@Url.Content("~/content/styles/images/twittert_24_24.png")" alt="Facebook"/>
            <img src="@Url.Content("~/content/styles/images/facebook_no_circle_24_24.png")" alt="Facebook"/>
            <img src="@Url.Content("~/content/styles/images/twitter_no_circle_24_24.png")" alt="Facebook"/>
            <img src="@Url.Content("~/content/styles/images/twittert_no_circle_24_24.png")" alt="Facebook"/>
        </div>
    </div>
    <script type="text/html" id="ingredient-template">
        <table class="ingredient-container">
            <tr>
                <td class="label ingredient-color">
                    <input data-bind="colorPicker: color"/>
                </td>
                <td class="ingredient">
                    <input class="ingredient" type="text" data-bind="value: description, blur: description"/>   
                </td>
                <td>
                    <a href="#" id="remove" data-bind="click: remove">Remove</a>
                </td>
            </tr>    
            <tr>
                <td class="ingredient-color">

                </td>
                <td>
                    <div class="ingredient-slider" id="percent" data-bind="slider: percent, sliderOptions: { min: 0, max: 100, step: 5, value: $data.percent() },
                                                                           sliderColor: color, colorOptions: { backgroundAdjust: 0, borderAdjust: -50 }"></div>

                </td>
                <td data-bind="text: formattedPercent"></td>
            </tr> 
            <tr>
                <td></td>
                <td>
                    <div class="important message" data-bind="text: message"></div>
                </td>
                <td></td>
            </tr>      
        </table>
    </script>
</div>


