@using Codell.Pies.Web.Extensions
@model Codell.Pies.Web.Models.MyPies.IndexModel
<div id="pies">
    <div data-bind="template: { name: 'pie-template',
                                foreach: pies,
                                //afterRender: function (el) {
                                //    $('#edit', $(el)).button({ icons: { primary: 'ui-icon-pencil' }, text: false });
                                //    $('#delete', $(el)).button({ icons: { primary: 'ui-icon-trash' }, text: false });
                                //    $('#email', $(el)).button({ icons: { primary: 'ui-icon-mail-closed' }, text: false });}
                              }">        
    </div>        
    <script type="text/html" id="pie-template">
        <div class="pie">
            <div data-bind="pieChart: $data, pieOptions: { chartMap: { data: 'allIngredients', title: 'caption' }, dataMap: { text: 'description', value: 'percent', color: 'color'} }"></div>
@*            <div class="center">
                <a id="edit" data-bind="href:'@Url.Action("Edit")', args: $data.id">Edit</a>  
                <a id="delete" href="#" data-bind="click: $data.delete">Delete</a>  
                <a id="email" data-bind="href:'mailto:?body=@Url.Encode(Url.Action("Share", "Home", new{}, Request.Url.Scheme))', args: $data.id">Email</a> 
            </div>*@
            <ul class="pie-toolbar">
                <li><a data-bind="href:'@Url.Action("Edit")', args: $data.id" title="Edit"><img src="@Url.Content("~/content/styles/images/jquerymobile-icon.png")" alt="Edit"/></a></li>
                <li><a href="#" data-bind="click: $data.remove" title="Delete"><img src="@Url.Content("~/content/styles/images/dribbble-icon.png")" alt="Delete"/></a></li>
                <li><a data-bind="href:'mailto:?body=@Url.Encode(Url.Action("Share", "Home", new{}, Request.Url.Scheme))', args: $data.id" title="Email"><img src="@Url.Content("~/content/styles/images/html5-icon.png")" alt="Email"/></a></li>
                <li><a href="#" title="Facebook"><img src="@Url.Content("~/content/styles/images/facebook-icon.png")" alt="Facebook"/></a></li>
                <li><a href="#" title="Twitter"><img src="@Url.Content("~/content/styles/images/twitter-icon.png")" alt="Twitter"/></a></li>
            </ul>
        </div>
    </script>    
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            ko.applyBindings(new cc.pies.Index(@Html.Raw(Model.Pies.ToJson()), { editing: { isEditable: true, owner: '@Model.Owner.Id', actions: { remove: '@Url.Action("Delete")' } } }), $('#pies')[0]);
        });
    </script>    
}
