@using Codell.Pies.Common
@using Codell.Pies.Web.Extensions
@model Codell.Pies.Web.Models.Home.IndexModel
<div id="pies">
    <div class="search-bar">
        &nbsp;        
        <div>
            <input type="text"  placeholder="Search" data-bind="autocomplete: {sourceUrl: '@Url.Action("GetTags")' }, selected: selectedTag"/>
            <a id="search" href="#" data-bind="click: find">Search</a>
        </div>
    </div> 
    @if (Model.Pies.IsEmpty())
    {
        <div class="center">
            <p>That's a shame, no pies baked yet...be the first! Click <a href="@Url.Action("Create", "Pie")">here</a> to start a new pie.</p>
        </div>
    } 
    <div data-bind="template: { name: 'pie-template', foreach: pies }"></div>   
    @Html.DisplayFor(m => m.Paging)     
    <script type="text/html" id="pie-template">
        <div class="pie">
            <div data-bind="pieChart: $data, pieOptions: { chartMap: { data: 'allIngredients', title: 'caption' }, dataMap: { text: 'description', value: 'percent', color: 'color'} }"></div>
        </div>
    </script>    
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var $scope = $('#pies');
            $('#search', $scope).button({icons: {primary: "ui-icon-search"}, text: false});            
            ko.applyBindings(new cc.pies.Index(@Html.Raw(Model.Pies.ToJson()), { findUrl: '@Url.Action("Find")' }), $scope[0]);
        });
    </script>    
}
