@using Codell.Pies.Web.App_Start
@using StackExchange.Profiling
@using System.Web.Optimization
@using Codell.Pies.Web.Extensions

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,FF=Edge;OtherUA=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />        
        <title>@Html.ProductName()</title>
        @RenderSection("Styles", required: false)
        @Styles.Render(BundleConfig.Names.Styles)
        @Scripts.Render(BundleConfig.Names.Scripts)
        @MiniProfiler.RenderIncludes()
        <script type="text/javascript">
            $(function() {
                $(document).ajaxError(function (evnt, xhr) {
                    $('#error').text(xhr.responseText);
                });
                if (typeof window.console === "undefined" || typeof window.console.log === "undefined") {
                    window.console = {};
                    window.console.log = function (msg) { alert(msg); };
                }
            });           
        </script>
        <script src="~/signalr/hubs" type="text/javascript"></script> 
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div class="top-nav">Codell Concepts Inc.</div> 
        <div class="title">    
            <img src="~/Content/Styles/Images/pies.png" alt="" title="What's in the pie?"/>
            <span class="p">P</span>
            <span class="i">i</span>
            <span class="e">e</span>
            <span class="s">s</span>
            <span class="period">.</span>     
        </div> 
        <div class="nav-bar">
            <a class="nav-item" href="@Url.Action("Index", "Pie")">Home</a>
            <a class="nav-item" href="@Url.Action("Create", "Pie")">Bake</a>
            @Html.Partial("_Login")
        </div>
        <div class="container">
            @RenderBody()
            <div id="error" class="important"></div>
        </div>
    </body>
</html>
