@using Codell.Pies.Web.App_Start
@using StackExchange.Profiling
@using System.Web.Optimization
@using Codell.Pies.Web.Extensions

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,FF=Edge;OtherUA=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />        
        <title>@Html.ProductName()</title>
        @RenderSection("Styles", required: false)
        @Styles.Render(BundleConfig.Names.Styles)
        @Scripts.Render(BundleConfig.Names.Scripts)
        @MiniProfiler.RenderIncludes()
        <script type="text/javascript">
            $(function() {
                $(document).ajaxError(function (evnt, xhr) {
                    $('#error').text(xhr.responseText);
                });
            });
        </script>
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div class="header">
            <h1>Pies</h1>
            <div class="nav">
                <a href="@Url.Action("Index", "Pie")">Home</a>
                <a href="@Url.Action("Create", "Pie")">Bake</a>
            </div>
        </div>
        <div class="side">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div id="error" class="important"></div>
    </body>
</html>
