@using Codell.Pies.Web.App_Start
@using StackExchange.Profiling
@using System.Web.Optimization
@using Codell.Pies.Web.Extensions

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8" /> 
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,FF=Edge;OtherUA=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />        
        <title>@Html.ProductName()</title>
        @RenderSection("Styles", required: false)
        @Styles.Render(BundleConfig.Names.Styles)
        @Scripts.Render(BundleConfig.Names.Scripts)
        @MiniProfiler.RenderIncludes()
        <script type="text/javascript">
            $(function () {
                $.ajaxSetup({ cache: false });
                $(document).ajaxError(function () {
                    window.location.replace('@Url.Action("Default", "Error")');
                    //$('#error').dialog('open');
                });
                $('#error').dialog({
                    autoOpen: false,
                    title: 'Oops!',
                    modal: true,
                    resizable: false,
                    draggable: false,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
                if (typeof window.console === "undefined" || typeof window.console.log === "undefined") {
                    window.console = {};
                    window.console.log = function (msg) { alert(msg); };
                }
            });           
        </script>
        <script src="~/signalr/hubs" type="text/javascript"></script> 
        @RenderSection("Scripts", required: false)
    </head>
    <body>
        <div class="top-nav">Codell Concepts Inc.</div> 
        <div class="title">    
            <img src="~/Content/Styles/Images/pies.png" alt="" title="What's in your pie?"/>
            <span class="p">P</span>
            <span class="i">i</span>
            <span class="e">e</span>
            <span class="s">s</span>
            <span class="period">.</span>     
        </div> 
        <div class="tabs">
            <ul>
                @Html.Tab("Home", new TabAction("Index", "Home"), new TabAction("Share", "Home"))
                @Html.Tab("Bake", new TabAction("Create", "Pie"), new TabAction("Edit", "MyPies"), new TabAction("Join", "Pie"))
                @Html.Tab("My Pies", new TabAction("Index", "MyPies"))
            </ul>
            @Html.Partial("_Login")
        </div>
        <div class="container clear">
            @RenderBody()
            <div id="error" class="center">Sorry, an unexpected error has occurred.</div>
        </div>
    </body>
</html>
