@using Codell.Pies.Web.Extensions
@model Codell.Pies.Web.Models.Shared.PieModel
<div id="edit">
    <div class="kitchen">
        <table class="kitchen-top">
            <tr>
                <td class="label">Caption</td>
                <td class="ingredient"><input type="text" data-bind="value: caption, blur: caption, onEnter: addIngredient"/></td>
                <td>
                    <a id="invite" href="mailto:?body=@Url.Encode(Url.Action("Join", "Pie", new{@Model.Id}, Request.Url.Scheme))" title="Invite a friend to help">Invite</a>
                </td>
            </tr>
            <tr>
                <td class="label">Ingredient</td>
                <td>
                    <input class="ingredient" type="text" data-bind="value: ingredientToAdd, onEnter: addIngredient"/>                                          
                </td>
                <td>
                    <a id="add" href="#" data-bind="click: addIngredient" title="Add the ingredient">Add</a>                                      
                </td>
            </tr>
            <tr>
                <td>Tags</td>
                <td><input type="text" class="tags" data-bind="value: tags, blur: tags"/></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="important message" data-bind="text: pieMessage, message: pieMessage"></div>
                </td>
                <td></td>
            </tr>
        </table>                  
        <div class="ingredients" data-bind="template: { name: 'ingredient-template', 
                                                        foreach: editableIngredients,
                                                        afterRender: function(el) {
                                                            $('#remove', $(el)).button({ icons: { primary: 'ui-icon-minus' }, text: false });
                                                        } }">            
        </div>                      
    </div>
    <div class ="preview" id="chart" data-bind="pieChart: allIngredients, pieChartTitle: caption, pieOptions: { dataMap: { text: 'description', value: 'percent', color: 'color' } }"></div>
    <script type="text/html" id="ingredient-template">
        <table class="ingredient-container">
            <tr>
                <td class="label ingredient-color">
                    <input data-bind="colorPicker: color"/>
                </td>
                <td class="ingredient">
                    <input class="ingredient" type="text" data-bind="value: description, blur: description"/>   
                </td>
                <td>
                    <a href="#" id="remove" data-bind="click: remove">Remove</a>
                </td>
            </tr>    
            <tr>
                <td class="ingredient-color">

                </td>
                <td>
                    <div class="ingredient-slider" id="percent" data-bind="slider: percent, sliderOptions: { min: 0, max: 100, step: 5, value: $data.percent() },
                                                                           sliderColor: color, colorOptions: { backgroundAdjust: 0, borderAdjust: -50 }"></div>

                </td>
                <td data-bind="text: formattedPercent"></td>
            </tr> 
            <tr>
                <td></td>
                <td>
                    <div class="important message" data-bind="text: message"></div>
                </td>
                <td></td>
            </tr>      
        </table>
    </script>
    @if (!Request.IsAuthenticated)
    {
        <div id="signIn">
            <div class="center">            
                <p>Wanna manage your pies?</p>
                <a href="@Url.Action("Login", "Account", new {returnUrl = @Url.Action("Create", "Pie")})">Yes please</a>
                <a id="no" href="#">No thanks</a>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var $scope = $('#edit');
            $('#invite', $scope).button({ icons: { primary: "ui-icon-transferthick-e-w" }, text: false });
            $('#add', $scope).button({ icons: { primary: "ui-icon-plus" }, text: false });
            var pie = new cc.pies.edit.Pie(@Html.Raw(Model.ToJson()),
                {
                    updateCaption: '@Url.Action("UpdateCaption", "Pie")',
                    updateTags: '@Url.Action("UpdateTags", "Pie")'
                },
                {
                    add: '@Url.Action("AddIngredient", "Pie")',
                    updatePercentage: '@Url.Action("UpdateIngredientPercentage", "Pie")',
                    updateDescription: '@Url.Action("UpdateIngredientDescription", "Pie")',
                    updateColor: '@Url.Action("UpdateIngredientColor", "Pie")',
                    remove: '@Url.Action("DeleteIngredient", "Pie")'
                });
            ko.applyBindings(pie, $scope[0]);
            @if (!Request.IsAuthenticated)
            {
                <text>
                var $signIn = $('#signIn', $scope); 
                $('a', $signIn).button();
                $('#no', $signIn).click(function(){ $signIn.dialog('close'); });
                $signIn.dialog({
                    modal: true,
                    title: 'Sign In',
                    resizable: false,
                    draggable: false
                });                
                </text>
            }
        });
    </script>
}


